<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">

<head>
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Homepage'">Homepage</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
</head>

<body>

<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>

    <main>
        <!-- 자식에서 넘어온 content -->
        <div class ="content" th:replace="${content}"></div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

</div>

</body>
</html>