<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout-login :: layout(~{::content})}">
<body>



<div th:fragment="content">

    <h2>로그인</h2>

    
        <div>
            <input type="text" name="username" placeholder="아이디"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호"/>
        </div>
        <button type="button">로그인</button>
    
    <button type="button" id="newMember">회원가입</button>

    <div th:if="${param.error}">
        <p style="color:red">로그인 실패!</p>
    </div>
	
	
		
	<script type="text/javascript">
		$(function (){
			$("#newMember").on("click" , function(){
				location.href = "/join";
			});
		});
		
				
	</script>
</div>


</body>
</html>